.chart_div {
  background-color: #f4f4f4;
  width: 1000px;
  margin: auto;
  margin-top: -3px;
  padding: 0 30px 0;
  border: 3px solid #e4e4e4;
  border-radius: 15px;
}
.chart_title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 70px;
}
.chart_titlespan {
  font-size: 25px;
  color: red;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .chart_div {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .chart_div {
    width: 85%;
    padding: 0 15px 0;
  }
  .chart_title {
    font-size: 12px;
    margin-left: 0;
  }
}
